# npm运行时的配置文件，可以在 https://pnpm.io/zh/npmrc 查看更多配置

# 配置镜像
# registry=https://registry.npm.taobao.org

# 依赖提升设置：为 true 时，所有依赖项都被提升到 node_modules/.pnpm。这使得 node_modules所有包都可以访问到未列出的依赖项。
shamefully-hoist=true

# 严格的 peer deps 依赖链：默认为true，为 false 时不再严格要求依赖链是否全部安装
strict-peer-dependencies=false

# 默认为false，当置为 true 时，pnpm 将使用 bash-like shell 这个执行器来运行脚本，它简化了跨平台脚本。
# 例如脚本 "test": "NODE_ENV=test node test.js" 将在非 POSIX 兼容系统上执行失败，但如果 shell-emulator 为 true，它将适用于所有平台。
shell-emulator=true
